  // I M P O R T
  // -------------- MOBILE-FIRST --------------
  @import "_variables.scss";

  *{
    box-sizing: border-box;
  	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body{
  	margin: 0; 
    font-size: $textSize; 
    font-family: $font;
    background: $backgroundColor;
    line-height: 1.2;
    color: $textColor;
  }

  // -------------- RESET.CSS --------------
  ul, ol{margin:0; padding:0;}
  li{list-style:none;}
  a{color: $textColor;text-decoration: none;}
  a:visited{color: $textColor;}
  a:hover{color: $mainColor}
  img {width: 100%;}
  figure{margin:0;}
  figcaption{
    font-size: .7em;
  }
  p{
    font-size: $textSize; 
  }
  
  h1{
    font-size: 3rem;
    margin-top:$marginSmall;
    margin-bottom: $marginNormal;
    line-height: 1.2;
    font-weight: 500;
  }
  h2{
    color: $mainColor;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0;
  }

  h2 + p { margin-top:0;}

  h2 + ul{
    margin-top: $marginNormal;
  }

  h3{
    font-size:$menuSize; 
    margin:0; 
    font-weight:normal;
  }


  h4{
    font-weight: 700;
    margin-bottom: $marginNormal;
  }

  h5{
    margin-top: $marginBig;
    margin-bottom: $marginSmall;
  }

  blockquote{
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid rgba(17, 33, 77, 0.2);
  }


  video, iframe{
    width: 100%;
  }

  // -------------- IMPORT TEMPlATES STYLES --------------
  @import "header.scss";

  // -------------- OVERLAY --------------
  .overlay{
    width: 100%; 
    height: 100vh;
    background: rgba(0,0,0, 0.8);
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: 999;
    display:none;
    .popup-content{
      position: relative;
      background: #FFF; 
      width: 50%;
      max-height: 90vh;
      margin: auto;
      margin-top: 43px;
      padding: $marginNormal $marginBig;
      border: 2px solid $mainColor;
      .close-window{
        color: $mainColor; 
        position: absolute; 
        top: 5px; 
        right: 15px; 
        font-size: 25px; 
        cursor: pointer;
      }
    }
  }

  // -------------- GENERAL --------------
  .show-for-small-only{
  	display:block;
  }

  .hide-for-small-only{
  	display:none;
  }


  main{
    padding: 43px 0; 
    font-size: $textSize;
    margin-bottom: 200px;
    width: 100%;
    margin:auto;
    max-width: 1500px;
    position: relative;

  } 

  .comma {
    margin-left: -3px;
  }

  .list-books{
    .list-books__th{
      color: $mainColor;
      border-bottom: 2px solid $mainColor;
      position: fixed; 
      z-index: 99;
      width: 100%;
      // width: calc(100% - calc(36px*2));
      background: #FFF; 
      padding: $marginSmall $marginNormal;
      max-width: 100%;
      // max-width: calc(1500px - calc(36px*2));
      .list-books__td{
        padding-left: 5px;

        > a{
          color: $mainColor;
          &:before{
            margin-right: 2px;
            position:relative;
            bottom:2px;
            opacity: 0.3;
          }
        }
        &.asc{
          > a:before{
            content:"↑";
            margin-right: 2px;
            position:relative;
            bottom:2px;
            opacity: 0.3;
          }
        }
        &.desc{
          > a:before{
            content:"↓";
            margin-right: 2px;
            position:relative;
            bottom:2px;
            opacity: 0.3;
          }
        }
        &.active{
          a:before{
            opacity:1;
          }
        }
      }
    }

    .list-books__details__inner{
      // cursor: pointer;
      // &:hover{
      //   &:not(.tags){
      //     color:$mainColor;
      //   }
      // }
      &.active{
        .list-books__td--title{
          color: $mainColor; 
        }
        .see-more{
          color: $mainColor; 
          transition: all 0.3s linear;
          transform: rotate(45deg);
          transform-origin: 85% 30%;
        }
      }

    }
    .list-books__td{
      &.list-books__td--tags{
        width: 20%;
        padding-right: 1rem;
        padding-left: 1rem;
      }
      &.authors{
        li{
          display:inline-block;
          position:relative;
          &.active a{
            color: $mainColor;
          }
          // &:after{
          //   content:",";
          //   position:relative;
          //   left:-4px;
          // }
          // &:last-child:after{
          //   content:"";
          // }
        }
      }
      &.tags{
        width: 20%;
        padding-right: 1rem;
        padding-left: 1rem;
        li{
          display:inline-block;
          position:relative;
          &.active a{
            color: $mainColor;
          }
          // &:after{
          //   content:",";
          //   position:relative;
          //   left:-4px;
          // }
          // &:last-child:after{
          //   content:"";
          // }
        }
      }
      &.list-books__td--title{
        cursor: pointer;
        &:hover{
          color: $mainColor;
        }
      }
      &.see-more{
        width: 3%;
        text-align: right;
        font-size: 30px;
        margin-top: -9px;
        cursor: pointer;
        transition: all 0.3s linear;
       
        &:hover{
          color: $mainColor;
        }
      }
    }
    .list-books-content{
      padding-top: 45px;
      article{
        border-bottom: 1px solid $mainColor;
        padding: $marginNormal;
        p{
          margin:0;
        }
        .fold{
          max-height:0; 
          transition: all 0.8s ease;
          overflow: hidden;
        }
        .unfold{
          transition: all 0.8s ease;
          overflow: hidden;
          max-height:600px; 

        }
        .book{
          padding-top: $marginNormal;
          p, ul{
            margin-bottom: $marginNormal;
          }
          .book__summary p{
            font-size: 19px;
          }
          .book__tags{
            li{
              display:inline-block;
              position:relative;
              font-size: 19px;
              &.active a{
                color: $mainColor;
              }
              // &:after{
              //   content:",";
              //   position:relative;
              //   left:-4px;
              // }
              // &:last-child:after{
              //   content:"";
              // }
            }
          }

        }
      }
    }
  }

  .book__image{
    padding-right: 0.8rem;
    .book__image__inner{
      width: 100%;
      height: 35vw;
      max-height: 600px;
      background: $mainColor;
      
    }
    figure{
      // width: 80%;
      // margin:auto;
      width: 100%;
      height: 30vw;
      max-height: 500px;
      @include center;
      img{
        object-fit: contain;
        height: 100%; 
        width:100%;
      }
      
    }
  }

  .book-page{
    margin-top: $marginBig*2;
    width: 90%;
    margin-left: auto; 
    margin-right: auto;
    .book__summary{
      p:first-child{
        margin-top:0;
      }
    }
    .book__tags{
      li{
        display:inline-block;
        position:relative;
      }
    }
  }

  .download-csv{
    a{
      border: 1px solid $mainColor; 
      padding: $marginSmall $marginNormal;
    }
  }


  // -------------- DESKTOP GENERAL --------------
  @media only screen and (min-width: 48em){
    .show-for-small-only{
        display:none !important;
    }
    .hide-for-small-only{
        display:block !important;
    }
  }


  // -------------- SM GENERAL --------------
  @media only screen and (max-width: 66em){
    .list-books{
      .list-books__td{
        &.tags{
          width: 22%;
        }
        &.list-books__td--tags{
          width: 22%;
        }
      }
    }
  }


  // -------------- SMARTPHONE GENERAL --------------
  @media only screen and (max-width: 48em){
    // body{background: red;}

    .list-books{
      .list-books-content{
        article .unfold{
          max-height:2000px;
          .book__text{
            margin-top: $marginNormal;
          }
        }
      }
      .list-books__td{
        &.tags{
          width: 100%;
        }
        &.see-more{
          width: 20px;
          position:absolute;
          right: 1rem;

        }
      }
    }
    .book__image{
      .book__image__inner{
        height: 45vw;
        max-height: 800px;
      }
      figure{
        height: 40vw;
        max-height: 700px;        
      }
    }
  }





