  // I M P O R T
  // -------------- MOBILE-FIRST --------------
  @import "_variables.scss";

  *{
    box-sizing: border-box;
  	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body{
  	margin: 0; 
    font-size: $textSize; 
    font-family: $font;
    background: $backgroundColor;
    line-height: 1.2;
    color: rgb(41, 41, 41);
  }

  // -------------- RESET.CSS --------------
  ul, ol{margin:0; padding:0;}
  li{list-style:none;}
  a{color: #000;text-decoration: none;}
  a:visited{color: #000;}
  a:hover{color: $mainColor}
  img {width: 100%;}
  figure{margin:0;}
  figcaption{
    font-size: .7em;
  }
  p{
    font-size: $textSize; 
  }
  
  h1{
    font-size: 3rem;
    margin-top:$marginSmall;
    margin-bottom: $marginNormal;
    line-height: 1.2;
    font-weight: 500;
  }
  h2{
    color: $mainColor;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
  }

  h2 + ul{
    margin-top: $marginNormal;
  }

  h3{
    font-size:$menuSize; 
    margin:0; 
    font-weight:normal;
  }


  h4{
    color: $rose; 
    font-weight: 700;
    margin-bottom: $marginNormal;
  }

  h5{
    margin-top: $marginBig;
    margin-bottom: $marginSmall;
  }

  blockquote{
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid rgba(17, 33, 77, 0.2);
  }


  video, iframe{
    width: 100%;
  }

  // -------------- IMPORT TEMPlATES STYLES --------------
  @import "header.scss";


  // -------------- MOBILE-FIRST GENERAL --------------
  .show-for-small-only{
  	display:block;
  }

  .hide-for-small-only{
  	display:none;
  }


  main{
    padding: 43px $marginBig; 
    font-size: $textSize;
    margin-bottom: 200px;
    width: 100%;
    margin:auto;
    max-width: 1500px;

  } 

  .list-books{
    .list-books__th{
      color: $mainColor;
      border-bottom: 2px solid $mainColor;
      position: fixed; 
      z-index: 99;
      width: calc(100% - calc(36px*2));
      background: #FFF; 
      padding: $marginSmall;
      .list-books__td{
        padding-left: 5px;
        > a{
          color: $mainColor;
          &:before{
            content:"↑";
            margin-right: 2px;
            position:relative;
            bottom:2px;
            opacity: 0.5;
          }
        }
        &.active{
          a:before{
            opacity:1;
          }
        }
      }
    }

    .list-books__details__inner{
      cursor: pointer;
      &:hover{
        &:not(.tags){
          color:$mainColor;
        }
      }
    }
    .list-books__td{
      &.list-books__td--tags{
        width: 20%;
        padding-right: 1rem;
        padding-left: 1rem;
      }
      &.tags{
        width: 20%;
        padding-right: 1rem;
        padding-left: 1rem;
        li{
          display:inline-block;
          position:relative;
          &.active a{
            color: $mainColor;
          }
          &:after{
            content:",";
            position:relative;
            left:-4px;
          }
          &:last-child:after{
            content:"";
          }
        }
      }
      &.see-more{
        width: 3%;
        text-align: right;
      }
    }
    .list-books-content{
      padding-top: 45px;
      article{
        border-bottom: 1px solid $mainColor;
        padding: $marginSmall;
        p{
          margin:0;
        }
        .fold{
          // display:none;
          max-height:0; 
          transition: all 0.8s ease;
          overflow: hidden;
        }
        .unfold{
          // display:block;
          transition: all 0.8s ease;
          overflow: hidden;
          max-height:600px; 

        }
      }
    }
    .book__image{
      padding-right: 0.8rem;
      .book__image__inner{
        width: 100%;
        height: 430px;
        background: $mainColor;
        
      }
      figure{
        width: 80%;
        margin:auto;
        @include center;
      }
    }
  }


  // -------------- DESKTOP GENERAL --------------
  @media only screen and (min-width: 48em){
    .show-for-small-only{
        display:none !important;
    }
    .hide-for-small-only{
        display:block !important;
    }
  }





