@charset "UTF-8";
@import url(../fonts/stylesheet.css);
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  font-size: 21px;
  font-family: "directrice", sans-serif;
  background: #FFF;
  line-height: 1.2;
  color: #292929; }

ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #292929;
  text-decoration: none; }

a:visited {
  color: #292929; }

a:hover {
  color: #ff5499; }

img {
  width: 100%; }

figure {
  margin: 0; }

figcaption {
  font-size: .7em; }

p {
  font-size: 21px; }

h1 {
  font-size: 3rem;
  margin-top: 9px;
  margin-bottom: 18px;
  line-height: 1.2;
  font-weight: 500; }

h2 {
  color: #ff5499;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2; }

h2 + ul {
  margin-top: 18px; }

h3 {
  font-size: 24px;
  margin: 0;
  font-weight: normal; }

h4 {
  font-weight: 700;
  margin-bottom: 18px; }

h5 {
  margin-top: 36px;
  margin-bottom: 9px; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid rgba(17, 33, 77, 0.2); }

video, iframe {
  width: 100%; }

header {
  width: 100%;
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #ff5499;
  z-index: 100;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 9px 0px 9px; }
  header.row {
    margin: 0; }
  header a {
    text-decoration: none;
    color: #292929; }
    header a:hover, header a:visited {
      color: #292929; }
  header h1 {
    font-size: 17px;
    margin: 0;
    line-height: 0.8; }
  header .logo {
    text-align: center; }
  header .searchbar {
    text-align: right; }
    header .searchbar input[type="search"] {
      border: none;
      border-bottom: 1px solid #292929;
      background: transparent;
      font-family: "directrice", sans-serif;
      color: #292929;
      font-size: 17px;
      max-width: 220px; }
    header .searchbar input[type="submit"] {
      background: transparent;
      border: none;
      font-size: 17px;
      font-family: "directrice", sans-serif;
      cursor: pointer; }

@media only screen and (max-width: 48em) {
  header {
    padding-top: 18px; }
    header .logo {
      text-align: right; }
    header .searchbar {
      text-align: left;
      margin-top: 18px; } }

@media only screen and (max-width: 66em) {
  header .searchbar input[type="search"] {
    max-width: 100px; } }

.show-for-small-only {
  display: block; }

.hide-for-small-only {
  display: none; }

main {
  padding: 43px 0;
  font-size: 21px;
  margin-bottom: 200px;
  width: 100%;
  margin: auto;
  max-width: 1500px;
  position: relative; }

.list-books .list-books__th {
  color: #ff5499;
  border-bottom: 2px solid #ff5499;
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #FFF;
  padding: 9px 18px;
  max-width: 100%; }
  .list-books .list-books__th .list-books__td {
    padding-left: 5px; }
    .list-books .list-books__th .list-books__td > a {
      color: #ff5499; }
      .list-books .list-books__th .list-books__td > a:before {
        margin-right: 2px;
        position: relative;
        bottom: 2px;
        opacity: 0.3; }
    .list-books .list-books__th .list-books__td.asc > a:before {
      content: "↑";
      margin-right: 2px;
      position: relative;
      bottom: 2px;
      opacity: 0.3; }
    .list-books .list-books__th .list-books__td.desc > a:before {
      content: "↓";
      margin-right: 2px;
      position: relative;
      bottom: 2px;
      opacity: 0.3; }
    .list-books .list-books__th .list-books__td.active a:before {
      opacity: 1; }

.list-books .list-books__td.list-books__td--tags {
  width: 20%;
  padding-right: 1rem;
  padding-left: 1rem; }

.list-books .list-books__td.authors li {
  display: inline-block;
  position: relative; }
  .list-books .list-books__td.authors li.active a {
    color: #ff5499; }

.list-books .list-books__td.tags {
  width: 20%;
  padding-right: 1rem;
  padding-left: 1rem; }
  .list-books .list-books__td.tags li {
    display: inline-block;
    position: relative; }
    .list-books .list-books__td.tags li.active a {
      color: #ff5499; }

.list-books .list-books__td.see-more {
  width: 3%;
  text-align: right;
  font-size: 30px;
  margin-top: -9px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .list-books .list-books__td.see-more:hover {
    color: #ff5499; }
  .list-books .list-books__td.see-more.active {
    color: #ff5499;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 85% 30%;
    -ms-transform-origin: 85% 30%;
    transform-origin: 85% 30%; }

.list-books .list-books-content {
  padding-top: 45px; }
  .list-books .list-books-content article {
    border-bottom: 1px solid #ff5499;
    padding: 18px; }
    .list-books .list-books-content article p {
      margin: 0; }
    .list-books .list-books-content article .fold {
      max-height: 0;
      -webkit-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
      transition: all 0.8s ease;
      overflow: hidden; }
    .list-books .list-books-content article .unfold {
      -webkit-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
      transition: all 0.8s ease;
      overflow: hidden;
      max-height: 600px; }
    .list-books .list-books-content article .book {
      padding-top: 18px; }
      .list-books .list-books-content article .book p, .list-books .list-books-content article .book ul {
        margin-bottom: 18px; }
      .list-books .list-books-content article .book .book__summary p {
        font-size: 19px; }
      .list-books .list-books-content article .book .book__tags li {
        display: inline-block;
        position: relative;
        font-size: 19px; }
        .list-books .list-books-content article .book .book__tags li.active a {
          color: #ff5499; }

.book__image {
  padding-right: 0.8rem; }
  .book__image .book__image__inner {
    width: 100%;
    height: 35vw;
    max-height: 600px;
    background: #ff5499; }
  .book__image figure {
    width: 100%;
    height: 30vw;
    max-height: 500px;
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .book__image figure img {
      -o-object-fit: contain;
      object-fit: contain;
      height: 100%;
      width: 100%; }

.book-page {
  margin-top: 72px;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  .book-page .book__summary p:first-child {
    margin-top: 0; }

.download-csv a {
  border: 1px solid #ff5499;
  padding: 9px 18px; }

@media only screen and (min-width: 48em) {
  .show-for-small-only {
    display: none !important; }
  .hide-for-small-only {
    display: block !important; } }

@media only screen and (max-width: 66em) {
  .list-books .list-books__td.tags {
    width: 22%; }
  .list-books .list-books__td.list-books__td--tags {
    width: 22%; } }

@media only screen and (max-width: 48em) {
  .list-books .list-books-content article .unfold {
    max-height: 2000px; }
    .list-books .list-books-content article .unfold .book__text {
      margin-top: 18px; }
  .list-books .list-books__td.tags {
    width: 100%; }
  .list-books .list-books__td.see-more {
    width: 20px;
    position: absolute;
    right: 1rem; }
  .book__image .book__image__inner {
    height: 45vw;
    max-height: 800px; }
  .book__image figure {
    height: 40vw;
    max-height: 700px; } }
